@model IEnumerable<Assignment3.Models.Question>

@{
    ViewBag.Title = "GetQuestion";
    Layout = "~/Views/Shared/_Assignment3Layout.cshtml";
}
@foreach (var question in Model)
{
    using (Html.BeginForm("addAnswer", "Question", FormMethod.Post))
    {

<div class="title">
    <h2>@Html.HiddenFor(Qmodel => question.questionID)
    @Html.DisplayFor(Qmodel => question.questionName)</h2>
    <p>

        <span class="category">@Html.DisplayFor(Qmodel => question.categoryName)</span>&nbsp;&nbsp;
        <span>by @Html.DisplayFor(answers => question.answers.FirstOrDefault().username) &nbsp;&nbsp;@Html.DisplayFor(Qmodel => question.questionDT)&nbsp;&nbsp;</span>
        <span class="category">@Html.DisplayFor(Qmodel => question.view)</span>Views&nbsp;&nbsp;
        <span class="digital">@Html.DisplayFor(Qmodel => question.vote)</span>Votes
    </p>
    <p>
        @foreach (var item in question.answers)
        {<div class="answers">
    <span>@Html.DisplayFor(answers => item.answerText)</span> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
    <span> by @Html.DisplayFor(answers => item.username)</span> &nbsp;&nbsp; &nbsp;&nbsp;
    <span> on @Html.DisplayFor(answers => item.answerDT)</span><br /><br />
</div>

        }

    </p><br/>
    <button class="bt_search" name="edit">Edit</button>
    <h3>Add your answer</h3>
    @Html.TextAreaFor(answerText => question.answer.answerText)<br />
    <button type="submit" class="bt_search"> Add Answer</button>

</div>
    }
}


